html {
  max-width: 100vw;
  height: 100%;
}

body {
  font-family: "Roboto", sans-serif;

  margin: 0;
}
#researchSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: linear-gradient(
      rgba(230, 230, 230, 0.1),
      rgba(0, 0, 0, 0.8)
    ),
    url("../assets/background.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 480px;
}

#titleXL {
  justify-items: center;
  font-family: "Amatic SC", sans-serif;
  font-size: 45px;
  color: white;
  margin-top: 12.5vh;
}

#title-text {
  color: white;
  font-size: 9px;
  font-family: "Roboto", sans-serif;
  text-align: center;
  max-width: 700px;
  margin-top: -25px;
  line-height: 35px;
}

h2 {
  font-family: "Amatic SC", sans-serif;
  font-style: normal;
  font-size: clamp(2rem, 5vw, 4rem);
  color: #333333;
  text-align: center;
}

h3 {
  color: #333333;
  font-family: var(--font-family-simple);
  font-size: 1.5rem;
}

h4 {
  font-family: "Amatic SC", sans-serif;
  font-style: normal;
  font-size: clamp(1.5rem, 4vw, 2rem);
  color: #ff6d39;
  text-align: left;
}

#mainText {
  font-size: small;
  font-family: "Roboto", sans-serif;
  color: gray;
  max-width: 580px;
  text-align: center;
  margin-top: -15px;
}

#form-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 1rem;
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
}
.research-home {
  transform: translate(100px, 100px);
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  height: 7.5vh;
  margin-left: -13.2vw;
}

#textToAdopt {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  margin-top: 14vh;
  font-family: "Amatic SC", sans-serif;
  font-size: 3em;
}

/*SECTION HOW TO*/
#howToSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 60vh;
  background-color: white;
  color: #666;
  padding: 1em;
}

#howToDo {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 0.5em;
  margin: 0;
}

#mainText {
  max-width: 800px;
}

.cardsHtml {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
  padding: 1rem;
}

.card {
  /*width: 15vw;
  height: 35vh;*/
  min-width: 250px;
  background: white;
  border: 0.1em #979797;
  box-shadow: 0 3px 6px rgb(150, 151, 151);
  border-radius: 15px;
  padding: 1em;
  margin-top: 5em;
  margin-bottom: 5em;
  transition: all 0.3s ease;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 3px 6px rgb(150, 151, 151);
}

.card h3 {
  text-align: center;
  margin: 0.5em auto;
  padding: 0 10%;
  font-size: clamp(1rem, 2vw, 1.5rem);
}

.card p {
  text-align: center;
  padding: .8rem;
  font-size: clamp(0.8rem, 1.8vw, 1rem);
}

.card img {
  width: 50px;
  height: 50px;
  margin: 1em auto;
  display: block;
}

/* SECTION CHANGE LIFE */
#changeLifeSection {
  min-height: 40vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem 1rem;
}

#changeLife {
  padding: 0.5em;
  margin: 0;
}

#mainText {
  max-width: 90%;
  margin: 0 auto;
  text-align: center;
  color: #484848;
  font-size: 1rem;
}

#flexGap-1 {
  display: flex;
  justify-content: center;
  padding: 2rem 1rem;
  gap: 1rem;
  flex-wrap: wrap;
}

.btnAdopt,
.btnDonation,
.btnVolonteer {
  text-decoration: none;
  border-radius: 1.5rem;
  border: 0;
  padding: 1rem 1.5rem;
  font-family: var(--font-family-simple);
  font-weight: 800;
  font-size: 0.9rem;
  color: white;
  flex: 1 1 auto;
  max-width: 200px;
  text-align: center;
}

.btnAdopt {
  background-color: #333333;
}

.btnDonation {
  background-color: var(--btn-secondary-bg);
}

.btnVolonteer {
  background-color: var(--btn-accent-bg);
}

/* Écrans larges */
@media (min-width: 1024px) {
  .card {
    max-width: 150px;
    min-height: 200px;
  }
}

/* Tablettes */
@media (min-width: 768px) and (max-width: 1023px) {
  .card {
    max-width: 150px;
    min-height: 200px;
  }
}

/* Mobile */
@media (max-width: 767px) {
  .card {
    width: 95%;
    min-height: 200px;
    margin: 0.5em auto;
  }
}

/* FOOTER */
footer {
  background-color: #333333;
  padding: 3rem 2rem 1rem;
  font-size: 1rem;
}

footer a {
  color: white;
  text-decoration: none;
}

footer p {
  font-family: "Roboto", sans-serif;
  text-align: left;
}

#wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 1.5rem;
}

#brand,
#info {
  color: white;
  text-align: left;
}

#logosMedias {
  display: flex;
  gap: 0.5rem;
  justify-content: center;
}

.footer-icon {
  background-color: #484848;
  border-radius: 100%;
  width: 2.5rem;
  height: 2.5rem;
  padding: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

#info ul {
  padding: 0;
  list-style: none;
}

#contact {
  color: white;
}

#licence {
  color: #979797;
}

#licence p {
  text-align: center;
}

/* Media Queries */
@media (min-width: 425px) and (max-width: 1023px) {

  #mainText {
    max-width: 700px;
    font-size: 1.1rem;
  }

  #flexGap-1 {
    padding: 3rem 1rem;
  }

  #wrapper {
    flex-direction: row;
    justify-content: space-evenly;
  }

  #brand {
    max-width: 400px;
    text-align: left;
  }

  .research-home {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 0.8rem;
  }
}

@media (max-width: 480px) {
  .footer {
    width: 100%;
  }

  .btnAdopt,
  .btnDonation,
  .btnVolonteer {
    padding: 0.8rem 1.2rem;
    font-size: 0.8rem;
    max-width: 150px;
  }
}

/* PHOTOS ACCUEIL*/
#gridPhotos {
  display: flex;
  gap: 15px;
}

.columns {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
  height: 1100px;
  width: 100%;
  margin: 60px;
}

.grid-column {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  min-height: 100%;
}
@media (min-width: 320px) and (max-width: 424px) {
  #container-research-adopt {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 0.8rem;
  }

  .grid-container {
    grid-template-columns: 2fr;
    max-width: 500px;
    margin: 0px;
    gap: 1rem;
  }

  .grid-column {
    min-height: 400px;
  }

  .research-home {
    transform: none;
    margin: 1rem auto;
    width: 90%;
    height: auto;
  }
  #textToAdopt {
    font-size: 1.5em;
    text-align: center;
    max-width: 90%;
    margin: 0 auto;
    margin-top: 155px;
  }
  #titleXL {
    margin-top: 140px;
    font-size: 30px;
    align-items: center;
  }
  #title-text {
    font-size: 10px;
  }

  #gridPhotos {
    margin-top: 80px;
  }

  #seeAnimals {
    display: flex;
    margin-top: 570px;
  }
}

@media (min-width: 425px) and (max-width: 1023px) {
  body {
    font-size: 14px;
  }

  #title-text,
  #mainText {
    padding: 0 1rem;
    font-size: 0.3em;
  }

  #textToAdopt {
    font-size: 2.5em;
  }

  h3 {
    font-size: 1.5em;
    text-align: center;
  }
  .grid-container {
    grid-template-columns: 2fr;
    max-width: 500px;
    margin: 0px;
    gap: 1rem;
  }

  .grid-column {
    min-height: 500px;
  }
  .research-home {
    transform: none;
    margin: 1rem auto;
  }
  #wrapper {
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }

  #item {
    max-width: 100%;
    text-align: center;
  }
  #seeAnimals {
    display: flex;
    margin-top: 970px;
  }
}
.grid-column > .img-big {
  flex: 2;
  border-radius: 10px;
  box-shadow: 2px 2px 2px rgb(197, 195, 195, 0.5);
  height: 100%;
  width: 100%;
}

.grid-column > .img-small {
  flex: 1;
  border-radius: 10px;
  box-shadow: 2px 2px 2px rgb(82, 82, 82, 0.5);
  height: 100%;
  width: 100%;
}

#seeAnimals {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#animalsLink {
  border-radius: 1.5rem;
  border: 0;
  padding: 0.8rem;
  font-family: var(--font-family-simple);
  font-weight: 800;
  font-size: 0.9rem;
  color: white;
  text-align: center;
  text-decoration: none;
  background-color: black;
  margin-bottom: 8vh;
}
